.app_main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* background-position: 50%; */
	background-size: cover;
	background: linear-gradient(
		-45deg,
		#ee7752,
		#e73c7e,
		#23a6d5,
		#23d5ab,
		#1cb5e0,
		#000851,
		#d53369,
		#daae51
	);
	background-size: 400% 400%;
	transition: all 500ms linear;
}

.app_background {
}
